<div class="container">
  <div id="input" class="form-group">
    <input type="text" [(ngModel)]=query placeholder="Enter keyword" class="form-control"/>
  </div>
  <button class="btn btn-outline-primary btn-lg form-control" type="submit" (click)="getImages(query)">Search</button>
  <p style="padding-bottom: 5%"></p>
  <div class="row">
    <div class="col-12">
      <div id="search-result" class="row"
        infinite-scroll
        [infiniteScrollDistance] = "2"
        [infiniteScrollThrottle] = "10"
        (scrolled)="onScroll()">
        <div class="col" *ngFor="let image of images"><img  src={{image}} /></div>
      </div>
  </div>
</div>
</div>
